<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton" type="NetworkServer, NetworkServer" objectUri="xml-rpc-example/xmlrpc" />
        <wellknown mode="Singleton" type="HelloWorldService, HelloWorldService" objectUri="xml-rpc-example/xmlrpchello" />
      </service>
      <channels>
        <channel ref="http" port="1090">
          <serverProviders>
            <formatter type="CookComputing.XmlRpc.XmlRpcServerFormatterSinkProvider, CookComputing.XmlRpcV2" />
            <formatter ref="soap" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>